* {

outline: none;
border:none;
font-family: 'Roboto', sans-serif;
}

.App__MainContainer{
    margin: 0 auto;
    width:89%;
    /* background-color:red; */
}


.App__copyrigth{
    background-color:#007BFF;
    position:sticky;
    top:90%;
    /* bottom:0%; */
    width:100%;
    height: 64px;
    text-align: center;
    line-height: 21px;
    color:whitesmoke;
    }

.App__copyrigth h6{
   /* top:50%; */
   font-size: 18px;
   font-weight: 400;
   padding:5px;
   transform:translateY(50%)
}

